* {
    margin: 0;
    padding: 0;
}

html {
    background: url(assets/manateepic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* opacity: 0.5; Just testing this out Thoughts */
}



main {
    width: 80%;
    /* height: 700px; */
    background-color: rgba(0, 255, 255, 0.5); /*what if we did the opacity just on background?*/
    justify-content: center;
    align-items: center;
}



.card-grid{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.cardBack{
    background-color: navy;
    color: white;
    width: 20vw;
    height: 30vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-grid i{
    font-size: 3em;
}

.orangeBackground{
    background-color: orange;
}

.stars{
    list-style-type: none;
}

.card{
    background: url(assets/manateeCard-01.png);
    color: white;
    width: 200px;
    height: 250px;
    margin: 0px;
    flex-wrap: wrap;
    display: inline-block;
    position: relative;
    margin-left: 5%;
    border-radius: 10px;

}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 200px;

    height: 250px;
    border: 1px solid #f1f1f1;
    perspective:
        1000px;
    
}


/* This 
  container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;

    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal 
  flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {

    /* transform: rotateX(180deg);  <=====  flips the card up & down ↓↑ */
     transform: rotateY(180deg);  /*<=====  flips the card left & right ←→ */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {

    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;
}

/* Style the front side (fallback if 
  image is missing) */
.flip-card-front {
    background-color: #bbb;
    background-image: url(./assets/manateeCard-01.png);
    background-size: cover;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;

    color: white;
     /* transform: rotateX(180deg); /* <=====  flips the card up & down ↓↑ */
    transform: rotateY(180deg);  /*<=====  flips the card left & right ←→ */
}

.homePage{
    z-index: 1;
    display: flex;
}