* {
    margin: 0;
    padding: 0;
}

html {
    background: url(assets/manateepic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* opacity: 0.5; Just testing this out Thoughts */
}



main {
    width: 80%;

    height: 700px;
    background-color: rgba(0, 255, 255, 0.5); /*what if we did the opacity just on background?*/
/*     max-height: 80vh; */
    padding: 5%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70px;
}


.orangeBackground{
    background-color: orange;
}

.stars{
    list-style-type: none;
}

.homePage{
    z-index: 1;
    display: flex;
}


/* Game Area Styling */
.card-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}


/* Card Styling */
.flip-card {
    background-color: transparent;
    width: 25vw;
    height: 31vw;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);  /*<=====  flips the card left & right ←→ */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    background-image: url(./assets/manateeCard-01.png);
    background-size: cover;
}

/* Style the back side */
.flip-card-back {
    background-color: #324947;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateY(180deg);  /*<=====  flips the card left & right ←→ */
}


.homePage{
    z-index: 1;
    position: absolute;
}

.difficulty{
  padding: 20px 50px;
  color: white;
  background-color: #56ccc2;
}

#start{
    position: absolute;
    display: block;
    padding: 20px 100px;
    color: white;
    background-color: #56ccc2;
}

#container3{
    visibility: hidden;
}

.popup{
    visibility: hidden;
}

.score-panel{
    visibility: hidden;
/* Style the icon size on back of card */
.flip-card-back i{
    font-size: 3em;
}

